.app{
  width: 60%;
  margin: auto;
  color: white;
  height: 100%;
}

.title{
  text-align: center;
}

.main-content{
  padding: 0 5%;
}

@media only screen and (max-width: 880px) {
  .app{
    width: 90%;
  }
}