.app{
  width: 60%;
  margin: auto;
  color: white;
  height: min-content;
  padding-bottom: 5%;
}

.title{
  text-align: center;
}

.main-content{
  padding: 0 5%;
}

.disclaimer-container{
  padding: 0 5%;
}
.disclaimer a{
  color: aquamarine;
  font-size: .9em;
}

@media only screen and (max-width: 880px) {
  .app{
    width: 90%;
  }
}