.searchbar{
    width: 100%;
    padding: 5%;
    padding-top: 0;
}

.searchbar-input{
    width: 100%;
    padding: 1.5%;
    border-radius: 5px;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, .13);
    color: white;
    font-size: 1em;
}

.searchbar-input:focus{
    border: solid 1px aquamarine;
}

@media only screen and (max-width: 480px) {
    .searchbar-input{
      padding: 5%;
    }
  }